[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.6"
djangorestframework = "==3.10.3"
django-rest-auth = "==0.9.5"
django-allauth = "==0.40.0"

[requires]
python_version = "3.7"
