[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1.8"
djangorestframework = "~=3.12.0"
django-rest-auth = "~=0.9"
django-allauth = "==0.42.0"
